.pokedex-drawer {
  height: 100vh !important;
  overflow: hidden;
}

.pokedex-drawer mat-drawer{
  width: 20vw;
  height: 100vh !important;
  overflow: hidden;
}

.pokedex-drawer mat-drawer-content{
  //overflow: hidden;
}

