<div id="menu">
  <button mat-raised-button color="accent" aria-label="Login" [routerLink]="['../login']">
    <mat-icon>login</mat-icon>
  </button>
</div>
<mat-drawer-container class="pokedex-drawer">
  <mat-drawer mode="side" opened disableClose >
    <pkm-pokemon-search (searchTerm)="onSearch($event)"></pkm-pokemon-search>
    <pkm-pokemon-list (pokemonId)="onUpdate($event)" [searchTerm]="searchTerm"></pkm-pokemon-list>
  </mat-drawer>
  <mat-drawer-content>
    <pkm-pokemon-detail [pokemonId]="pokemonId"></pkm-pokemon-detail>
  </mat-drawer-content>
</mat-drawer-container>
