.pokedex-drawer {
  height: 100vh !important;
  overflow: hidden;
}

.pokedex-drawer mat-drawer{
  width: 20vw;
  height: 96vh !important;
  overflow: hidden;
}

#menu{
  height: 4vh !important;
  position: absolute;
  right: 0;
  z-index: 1000;
}

.pokedex-drawer mat-drawer-content{
  //overflow: hidden;
}

